<!doctype html>
<html lang="zh-CN" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="renderer" content="webkit" />
    <link rel="shortcut icon" href="{{ request.ctx.config.website.icon }}">
    <link href="/static/css/daisyui.full.min.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/tailwindcss.3.4.1.js"></script>
    <!-- <script src="/static/js/axios.min.js"></script> -->
    <link rel="stylesheet" href="/static/css/bootstrap-icons.min.css">

    <script defer src="/static/js/alpine.js"></script>


    <style>
        .text-break {
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>

    <title>分享-{{ request.ctx.config.website.title }}</title>

<body>

    <div>
        <div class="grid md:grid-cols-8 relative" x-data="shareData">
            <div class="absolute top-0 left-0 w-full h-full" style="z-index: -1;">
                <img class="w-full h-full object-cover" src="/static/img/bg.jpg">
            </div>

            <div class="lg:col-span-4 md:col-span-6 lg:col-start-3 md:col-start-2 p-3">
                <!-- 不可预览 -->
                <dialog id="modal-1" class="modal">
                    <div class="modal-box">
                        <h3 class="font-bold text-lg">不可预览</h3>
                        <p class="py-4">暂不支持文件预览，请下载后查看!</p>
                        <div class="modal-action">
                            <form method="dialog">
                                <button class="btn btn-sm">取消</button>
                            </form>
                        </div>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                        <button>close</button>
                    </form>
                </dialog>


                <!-- 下载进度 -->
                <dialog id="download" class="modal">
                    <div class="modal-box">
                        <h3 class="font-bold text-lg">下载中</h3>
                        <div class="p-3">
                            <div>
                                <span class="text-sm" x-text="selected.name"></span>
                            </div>
                            <div class="mt-2 text-xs">
                                <span x-text="renderSize(selected.size)"></span>
                                <span class="ml1" x-text="`${renderSize(downloadSpeed)}/S`"></span>
                                <span class="ml-1" x-text="`${downloadProgress}%`"></span>
                                <span class="ml-1" x-text="downloadMessage"></span>
                            </div>
                            <div>
                                <progress class="progress w-full" :value="downloadProgress" max="100"
                                    :class="{'progress-success': downloadProgress == 100}"></progress>
                            </div>
                        </div>
                    </div>
                </dialog>

                <template x-if="status != 3">
                    <div class="rounded-lg overflow-hidden border">

                        <div class="navbar bg-neutral text-neutral-content">
                            <button class="btn btn-ghost text-xl">{{ request.ctx.config.website.title }}</button>
                        </div>

                        <div class="navbar bg-base-100">
                            <div class="flex-1">
                                <a class="btn btn-sm btn-ghost text-lg">{{ request.ctx.config.website.name }}分享的文件</a>
                            </div>
                            <div class="navbar-end">
                                <a class="btn btn-neutral btn-sm" :disabled="!selected||selected.is_dir"
                                    @click="download">下载</a>
                            </div>
                        </div>

                        <template x-if="status == 1">
                            <div role="alert" class="alert alert-error rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6"
                                    fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span>分享已取消</span>
                            </div>
                        </template>

                        <template x-if="status == 2">
                            <div role="alert" class="alert alert-warning rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6"
                                    fill="none" viewBox="0 0 24 24">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span>分享已过期</span>
                            </div>
                        </template>

                        <div x-show="status == 0" class="bg-base-100">
                            <div class="pl-5 pr-5">
                                <div class="text-sm breadcrumbs">
                                    <ul>
                                        <template x-for="(p, idx) in pathList" :key="idx">
                                            <li><a class="font-bold" x-text="p?p:'全部文件'"
                                                    @click="toPath({name: p, is_dir: true})"></a></li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                            <div class="pl-2 pr-2">
                                <div class="grid grid-cols-12 text-xs font-bold p-3">
                                    <div class="col-span-7">名称</div>
                                    <div class="col-span-2">大小</div>
                                    <div class="col-span-3">修改日期</div>
                                </div>
                            </div>

                            <!-- 内容 -->
                            <div class="overflow-y-scroll relative pl-2 pr-2" style="height: calc(100vh - 230px);">
                                <template x-if="loading">
                                    <div
                                        class="absolute top-0 left-0 right-0 bottom-0 w-full h-full flex justify-center bg-base-100 z-10">
                                        <span class="loading loading-spinner size-12 mt-10"></span>
                                    </div>
                                </template>
                                <template x-for="(f, idx) in fileList"
                                    :key="`${f.name}${f.size}${f.file_type}${f.modified}`">
                                    <div class="border-t pt-3 pb-3"
                                        :class="{'bg-violet-100': selected == f, 'hover:bg-base-200': selected != f}"
                                        @dblclick="toPath(f)" @click="selectFile(f)">
                                        <div class="grid grid-cols-12 text-sm gap-2">
                                            <div class="col-span-7">
                                                <div class="flex items-center">
                                                    <!-- <input type="checkbox" class="checkbox" 
                                                                :checked="$store.datas.selectList.includes(f.name)" /> -->
                                                    <div class="avatar ml-2">
                                                        <div class="w-8 rounded">
                                                            {% if request.ctx.config.preview.thumbnail %}
                                                            <img :src="f.thumbnail?'/api/fs'+f.thumbnail:getSuffixIcon(f.name, f.is_dir)"
                                                                @error="$event.target.src = getUnknowIcon()" />
                                                            {% else %}
                                                            <img :src="getSuffixIcon(f.name, f.is_dir)"
                                                                @error="$event.target.src = getUnknowIcon()" />
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <a class="ml-2 cursor-default text-break" x-text="f.name"></a>

                                                </div>
                                            </div>
                                            <div class="col-span-2 flex items-center text-slate-500"
                                                x-text="f.size==0?'-':renderSize(f.size)"></div>
                                            <div class="col-span-3 flex items-center text-slate-500"
                                                x-text="parseTime(f.modified)">
                                            </div>

                                        </div>
                                    </div>
                                </template>
                                <template x-if="fileList.length==0">
                                    <div class="p-2">
                                        <div role="alert" class="alert">
                                            <span class="text-sm">该文件夹没有任何内容~</span>
                                        </div>
                                    </div>
                                </template>
                            </div>

                        </div>
                    </div>
                </template>
            </div>
            <template x-if="status==3">
                <div class="top-0 left-0 right-0 bottom-0 fixed flex justify-center items-center">
                    <div class="absolute left-0 top-0 w-full h-full" style="z-index: -1;">
                        <img class="w-full h-full object-cover" src="/static/img/bg.jpg">
                    </div>

                    <div class="card lg:w-1/3 md:w-1/2 sm:w-full border bg-base-100">
                        <div class="card-body">
                            <h2 class="card-title">{{ request.ctx.config.website.name }}分享的文件</h2>
                            <input class="input input-bordered join-item w-full" placeholder="输入访问码" x-model="password"
                                :value="password" />
                            <button class="btn join-item btn-neutral" @click="setPassword">访问文件</button>
                        </div>
                    </div>
                </div>
            </template>


        </div>
    </div>

    <script src="/static/js/tools.js"></script>
    <script src="/static/js/cookie.js"></script>
    <script src="/static/js/axios.js"></script>
    <script src="/static/js/request.js"></script>
    <script src="/static/js/moment.js"></script>
    <script src="/static/js/url.min.js"></script>
    <script>
        const LINK = "/api/share/source";

        // 查看分享
        const shareView = (mark, path, password) => {
            return request.post("/share/view", {
                mark: mark,
                path: path,
                password: password,
            });
        };

        // 下载文件/文件夹
        const shareDownloadFetch = (mark, path, password) => {
            let u = LINK + "?mark=" + mark + "&path=" + path + "&password=" + password;
            return fetch(u, {
                method: "get",
                headers: {
                    "Content-Type": "application/json",
                },
            });
        };

        function parseTime(t) {
            return moment.unix(t).format("YYYY-MM-DD HH:mm:SS");
        }

        document.addEventListener("alpine:init", () => {
            Alpine.data("shareData", () => ({
                dirName: null,
                url: window.location.href,
                mark: "",
                password: "",
                fileList: [],
                selected: null,
                pathList: [""],
                loading: false,
                status: 0,
                is_download: false,
                downloaded: 0,
                downloadProgress: 0,
                startTime: null,
                downloadSpeed: 0,
                downloadMessage: "",
                openDLD() {
                    document.getElementById("download").showModal();
                },
                closeDLD() {
                    document.getElementById("download").close();
                },
                storePathList() {
                    sessionStorage.setItem("shareList", JSON.stringify(this.pathList));
                },
                init() {
                    this.mark = url("-1", this.url);
                    let p = sessionStorage.getItem("shareList");
                    if (p) {
                        this.pathList = JSON.parse(p);
                    } else {
                        this.storePathList();
                    }

                    let pwd = localStorage.getItem(this.mark);
                    if (pwd) this.password = pwd;

                    this.getFiles();
                },
                getPath() {
                    let p = this.pathList.join("/");
                    if (p) {
                        return p + "/";
                    } else {
                        return "/";
                    }
                },
                getFiles() {
                    this.loading = true;
                    let pl = this.dirName ? this.getPath() + this.dirName : this.getPath();
                    shareView(this.mark, pl, this.password)
                        .then((res) => {
                            this.status = 0;
                            this.fileList = res.data.data;
                            this.loading = false;
                            if (this.dirName) this.pathList.push(this.dirName);
                            this.dirName = null;
                            this.storePathList();
                        })
                        .catch((err) => {
                            this.loading = false;
                            switch (err.data.code) {
                                case 51100:
                                    this.status = 1;
                                    break;
                                case 51101:
                                    this.status = 2;
                                    break;
                                case 51102:
                                    this.status = 3;
                                    break;
                            }
                        });
                },
                toPath(f) {
                    this.selected = null;
                    if (f.is_dir) {
                        if (f.name) {
                            this.dirName = f.name;
                            if (this.pathList.includes(this.dirName)) {
                                let index = this.pathList.indexOf(this.dirName);
                                this.pathList.splice(index, this.pathList.length - index);
                            }
                        } else {
                            this.pathList = [""];
                        }

                        this.getFiles();
                    } else {
                        document.getElementById("modal-1").showModal();
                    }
                },
                selectFile(f) {
                    if (this.selected == f) {
                        this.selected = null;
                    } else {
                        this.selected = f;
                    }
                },
                setPassword() {
                    localStorage.setItem(this.mark, this.password);
                    this.getFiles();
                },
                genA(path) {
                    let tagA = document.createElement("a");
                    let u = LINK + "?mark=" + this.mark + "&path=" + path + "&password=" + this.password;
                    console.log(u)
                    tagA.href = u;
                    tagA.style.display = "none";
                    tagA.setAttribute("download", this.selected.name);
                    document.body.appendChild(tagA);
                    tagA.click();
                    document.body.removeChild(tagA);
                },
                async download() {
                    if (this.is_download == false && !this.selected.is_dir) {
                        let protocol = window.location.protocol;
                        let p = this.getPath() + this.selected.name;
                        if (protocol == "http:" || protocol == "http") {
                            this.genA(p);
                        }
                        if (protocol == "https:" || protocol == "https") {
                            this.downloadMessage = "准备下载";
                            this.is_download = true;

                            try {
                                const opts = {
                                    suggestedName: this.selected.name,
                                };
                                const handler = await window.showSaveFilePicker(opts);
                                const writable = await handler.createWritable();
                                let response = await shareDownloadFetch(
                                    this.mark,
                                    p,
                                    this.password
                                );
                                if (!response.ok) {
                                    this.downloadMessage = "下载时出错";
                                } else {
                                    let ctype = response.headers.get("content-type");
                                    if (ctype == "application/json") {
                                        let res = await response.json();
                                        if (res.code == 410) {
                                            this.downloadMessage = res.message;
                                        }
                                    } else {
                                        this.openDLD();
                                        this.startTime = Date.now();
                                        const reader = response.body.getReader();
                                        this.downloadMessage = "下载中";
                                        let result = true;
                                        while (result) {
                                            const { done, value } = await reader.read();
                                            if (done) {
                                                result = false;
                                                this.downloadMessage = "下载完成";
                                                break;
                                            }
                                            await writable.write(value);
                                            let nowTime = Date.now();
                                            let subTime = (nowTime - this.startTime) / 1000;
                                            this.downloaded += value.length;
                                            this.downloadSpeed = this.downloaded / subTime;
                                            if (this.selected.size) {
                                                this.downloadProgress = parseInt(
                                                    (this.downloaded / this.selected.size) * 100
                                                );
                                            }
                                        }
                                        await writable.close();
                                    }
                                }
                            } catch (err) {
                                this.downloadMessage = "下载时出错";
                            } finally {
                                this.is_download = false;
                                this.downloaded = 0;
                                this.downloadProgress = 0;
                                this.startTime = null;
                                this.downloadSpeed = 0;
                                this.closeDLD();
                            }
                        }
                    }
                },
            }));
        });

    </script>
</body>
</head>